<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventoryError.css') }}">
    <script>
        function delayAndRedirect() {
          setTimeout(function() {
            window.location.href = '/';
          }, 3000);
        }
      </script>
</head>
<body onload="delayAndRedirect()">
    <img id="logo" src="{{ url_for('static', filename='img/logo/logoBAHE.svg') }}">

    <div id="stage">
        <h1 id="inventory-error-text" class="text"></h1>
    </div>
    <img id="blocked" src="{{ url_for('static', filename='img/symbolen/blocked.svg') }}">


    <div id="bar">
        <button id="flag-france" class="language-button" onclick="setLanguage('fr');"></button>
        <button id="flag-germany" class="language-button" onclick="setLanguage('de');"></button>
        <button id="flag-netherlands" class="language-button" onclick="setLanguage('nl');"></button>
        <button id="flag-uk" class="language-button" onclick="setLanguage('en');"></button>
    </div>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>    
</body>
</html>